.contact {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header__container,
.navigation,
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */
.adressli {
    position: relative;
}

.contact__mail,
.contact__tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);

    transition: color var(--transform-1);
}

.contact__icon {
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;

    transition: color var(--transform-1);
}


.contact__mail:hover,
.contact__tel:hover {
    color: #2196F3;

}

.contact__mail:hover .icon-mail,
.contact__tel:hover .contact__icon {
    fill: var(--blue-background);

}

.contact__mail:focus,
.contact__tel:focus {
    color: #2196F3;

}

.contact__mail:focus .icon-mail,
.contact__tel:focus .contact__icon {
    fill: var(--blue-background);

}

.list-adress {
    align-items: center;
}