/* //////////////////////Клієнти//////////////////////////// */
.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}

.customers__group1,
.customers__group2,
.customers__group3,
.customers__group4,
.customers__group5,
.customers__group6 {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    fill: var(--color-icon);

    transition: fill var(--transform-1);
}

.customers__group1:hover .svg-group1,
.customers__group2:hover .svg-group2,
.customers__group3:hover .svg-group3,
.customers__group4:hover .svg-group4,
.customers__group5:hover .svg-group5,
.customers__group6:hover .svg-group6,
.customers__group1:focus .svg-group1,
.customers__group2:focus .svg-group2,
.customers__group3:focus .svg-group3,
.customers__group4:focus .svg-group4,
.customers__group5:focus .svg-group5,
.customers__group6:focus .svg-group6 {
    fill: var(--blue-background);
}


.customers__group1:hover,
.customers__group2:hover,
.customers__group3:hover,
.customers__group4:hover,
.customers__group5:hover,
.customers__group6:hover,
.customers__group1:focus,
.customers__group2:focus,
.customers__group3:focus,
.customers__group4:focus,
.customers__group5:focus,
.customers__group6:focus {
    border: 1px solid var(--blue-background);

}